<!DOCTYPE html>
<html>
  <head>
    <title>TechsistersForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.present? %>
      <%= link_to 'Logout', logout_path, method: :delete %>
      <%= link_to 'All posts', posts_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
